DATABASE_URL=postgresql://postgres:postgres@localhost:5433/mailflow
REDIS_URL=redis://localhost:6379
PORT=3001
NODE_ENV=development
JWT_ACCESS_SECRET=mailflow_access_secret_dev_key_12345
JWT_REFRESH_SECRET=mailflow_refresh_secret_dev_key_67890
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
